@charset 'utf-8';

.sidebar {
    @include v-centered-flex;
    @include responsive-prop('right',$gutter-m,$gutter-t,$gutter-d);
    visibility: hidden;
    justify-content: center;
    height: 100vh;
    position: fixed;
    z-index: 1;

    @include mq($from: tablet) {
        visibility: visible;
    }

    button {
        @include reset-button;
        width: 40px;
        height: 90px;
        margin: 10px 0;
        border-right: $color-dark-gray solid 4px;
        transition: all .4s ease-out;
        text-decoration: none;

        &.is-active {
            border-right: $color-white solid 4px;
        }

        &:hover {
            border-right: $color-white solid 8px;
            transform: scale(1.1);
        }
    }
}