@charset 'utf-8';

.module-icon-grid {
    .module-content {
        ul {
            @include grid-cols-responsive(1, 2, 2);
            @include list-unstyled();

            li {
                @include v-side('margin', 0, 30px);

                a {
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                a, div {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    > * {
                        box-sizing: border-box;
                    }
                }
                .image-wrapper {
                    width: 60px;
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    flex: 0 0 60px;
                    @include h-side('margin', 0, 15px);
                }
                p {
                    @include v-side('margin', 0);
                }
            }
        }
    }
}