@charset 'utf-8';

.module-tabs {
 // Nothing here yet        
}
.tabs-menu {
    list-style: none;

    a {
        @include font-size('tabs-menu');
        @include reset-link;
    }

    @include mq($from: tablet)  {
        display: flex;
        flex-flow: row nowrap;
    }

    li {
        @include mq($from:tablet)  {
            padding-right: $gutter-t;
        }

        @include mq($from:desktop)  {
            padding-right: 40px;
        }
        
        &.active {
            a {
                color: $color-main-gray;
                text-decoration: underline;
                cursor: default;
            }
        }
    }
}
.tab-content {
    display: none;

    > div {
        margin-top: 0;

        a {
			@include font-size('uppercase-link'); 
			display: block;
		}
    }

    &.active {
        display: block;
    }

}