@charset 'utf-8';

.page-search {

    .module-search,
    .module-search-form,
    .module-pagination .limiter > div {
        @include mq($from: desktop) {
            max-width: 75%;
        }
    }

    .page-header {
        padding: 0;
    }

    .page-content {

    }

    footer#main-footer {
        margin-top: 0;
    }
}